[Desktop Entry]
Type=Application
Name=JSomaRAdio
Comment=Simple Radio
Icon=org.eclipse.Java
Exec=eclipse %f
Terminal=false
Categories=Audio;Music;Player;AudioVideo;GNOME;GTK;
Keywords=Radio;Audio;Music;Player;
X-Purism-FormFactor=Workstation;Mobile;
