[Desktop Entry]
Type=Application
Name=Simple Java Radio Player
Comment=Simple Java Radio Player for Soma FM
Icon=org.eclipse.Java
Exec=eclipse %f
Terminal=false
Categories=Audio;Music;Player;AudioVideo;
Keywords=Radio;Audio;Music;Player;
